<div class="flex items-center justify-center">
    <form action="/search" method="GET" class="flex w-full max-w-md">
        <input
            type="text"
            name="query"
            placeholder="Search..."
            class="flex-grow rounded-l-md border border-gray-300 px-4 py-2 focus:outline-none  focus:border-transparent"
        />
        <button
            type="submit"
            class="rounded-r-md bg-cyan-800 hover:bg-cyan-900 text-white px-4 py-2 font-semibold"
        >
            Search
        </button>
    </form>
</div>